# fly.toml app configuration file generated for chatty-client on 2023-05-05T13:18:45+12:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "chatty-client"
primary_region = "syd"

[env]
  PORT = "8080"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
