.helpContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 300px;
    min-width: 300px;
    height: 50vh;
    width: 50vw;
    border: 1em solid black;
    background: white;
}
