# fly.toml app configuration file generated for chatty-frontend on 2023-05-05T09:47:04+12:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "chatty-frontend"
primary_region = "syd"

[env]
  PORT = "8080"

[http_service]
  internal_port = 8080
  force_https = true
  auto_start_machines = true
