.infoPanelBox {
  height: 100%;
  background-color: #f9f5eb;
  flex: 0.2;
  padding: 20px;
  border-right: 1px solid #fdfdfd;
}

.userList > * {
  margin-bottom: 10px;
  color: #607eaa;
  font-size: 14px;
}

.onlineUsers > * {
  margin-bottom: 10px;
  color: rgb(238, 102, 102);
  font-style: italic;
}
