.infoPanelBox {
  height: 100vh;
  background-color: #f9f5eb;
  flex: 0.2;
  padding: 20px;
  border-right: 1px solid #fdfdfd;
}

.userList > * {
  margin-bottom: 10px;
  color: #607eaa;
  font-size: 14px;
}

.onlineUsers > * {
  margin-bottom: 10px;
  color: rgb(238, 102, 102);
  font-style: italic;
}

.participantHeading {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.inviteButton {
    padding: 10px;
    width: 150px;
    border: none;
    outline: none;
    background-color: #d1512d;
    cursor: pointer;
    color: #eae3d2;
  }
