.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2979FF;
    border-radius: 4px 4px 0 0;
    height: 60px;
    width: 100%;   
    padding-left: 10px;
  } 

.leaveButton {
    color: #000000;
    text-decoration: none;
    background: #ffffff;
    margin: 10px;
    height: 80%;
    display: inline-block;
    width: 20%;
  }