.form {
  display: flex;

  border-top: 2px solid #d3d3d3;
  width: 100%;
}

.textContainer {
  display: flex;
  border: none;
  border-radius: 0;
  padding: 2%;
  height: 15vh;
  width: 100%;
  font-size: 1.2em;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.textInput {
  width: 100%;
  resize: none;
  font-size: 16px;
}

.sendButton {
  width: 150px;
  background-color: green;
  padding: 10px;
  border: none;
  outline: none;
  color: #eae3d2;
  cursor: pointer;
}

.sendButton:hover {
  background-color: rgb(129, 201, 129);
}
